.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 60px) / 3);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.card--img {
    display: flex;
    width: 100%;
}

.card--img img {
    width: 100%;
}

.card--title {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #0A143A;
}

.card:hover .card--title {
    color: #256EEB;
}

.card--price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #0A143A;
}

.card--desc-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px
    ;
}

.card--desc {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card--title {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 1200px) {
    
    .card {
    width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 480px) {

    .card {
    width: 100%;
    }
}