.content-side__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 25px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 36px;
    margin-bottom: 36px;
}

.content-side__list-item--text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media (max-width: 991px) {
    
    .content-side {
        width: 100%;
        min-width: none;
    }
}    